<?xml version="1.0"?>
<!--
/**
 * Module Declaration XML
 *
 * @author Rakesh Jesadiya <rakesh@rakeshjesadiya.com>
 * @package Rbj_BannerSlider
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Rbj_BannerSlider">
        <sequence>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
